/* static/styles.css */

/* 기본적인 body 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 제목 h1 스타일 설정 */
h1 {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

form p {
    margin: 0 0 10px;
}

input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    display: block;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
  
    ul {
        position: static; /* 절대 위치를 해제하고 기본 위치로 되돌림 */
        margin: 0 0 20px; /* 아래쪽 여백 추가 */
    }

    /* 폼과 입력 필드의 너비를 전체 화면에 맞게 조정 */
    input[type="text"],
    textarea {
        width: 100%; /* 너비를 100%로 설정하여 화면에 맞춤 */
    }

    /* 버튼 너비 조정 */
    input[type="submit"] {
        width: 100%; /* 버튼 너비를 100%로 설정하여 화면에 맞춤 */
    }
}
